<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986744272624-5m2nar553e7gik00b92ic2hd04ch6hge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986744272624-5m2nar553e7gik00b92ic2hd04ch6hge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>986744272624-0jepnenfrdcivind5tvf1gg9gl4l8ogl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAy2qf0pwcxQ8a6F2yXAe67t7jWuaj2TgE</string>
	<key>GCM_SENDER_ID</key>
	<string>986744272624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yacotch.user</string>
	<key>PROJECT_ID</key>
	<string>yacotch-fca1b</string>
	<key>STORAGE_BUCKET</key>
	<string>yacotch-fca1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986744272624:ios:7927e01e8469f0285b3435</string>
</dict>
</plist>